<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Balises pour le responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- Notre CSS custom -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    </head>
    <body class="mb-5">
        {# un bloc de navigation #}
        <nav class="container py-3 mb-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('mountain') }}">Montagne</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('beach') }}">Plages</a>
                </li>
            </ul>
        </nav>
        <!-- Minimal responsive + columns -->
        <main class="container">
            <div class="row">
                <!-- Content (les pages) -->
                <div class="col-9">
                    {# le contenu de la page#}
                    {% block body %}{% endblock %}
                </div>
                <!-- Sidebar (le widget) -->

                {# à droite le contenu du widget #}
                <div id="widget" class="col-3">
                    {# on met la ville dans une variable pour des raisons de praticité #}
                    {% set selectedCity = app.session.get('selected_city') %}
                    {% if selectedCity is null %}
                    Sélectionnez une ville dans la liste de gauche
                      {% else %}
                        <p><b>{{ selectedCity.city }}</b></p>
                        <p>{{ selectedCity.date }}</p>
                        <p><img src="{{ asset('images/' ~ selectedCity.weather ~ '.png') }}"></p>
                        <p>{{ selectedCity.min }}°C / {{ selectedCity.max }}°C</p>
                    {% endif %}
                </div>
            </div>
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>