{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<h1> Bienvenue sur la météo des plages </h1>


{% for city_key, city_info in weather_list %}
<div class="item item--bg-{{ city_info.weather }}">
    <div class="item--city"><a href="">{{ city_info.city }}</a></div>
    <div class="item--forecast">{{ city_info.date }} : {{ city_info.min }}°C / {{ city_info.max }}°C</div>
</div>

{% endfor %}

{% endblock %}